<section class="wea">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.name) {
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>

        <td>
          <div class="actions">
            <button (click)="deleteUser(user)">Eliminar</button>
            <button (click)="deleteUser(user)">Eliminar</button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
