/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light dark;
}

/* Aplica los estilos para el tema claro */
@media (prefers-color-scheme: light) {
  :root {
    --color-fondo: #52708a;
    --color-texto: black;
  }
}

/* https://colorswall.com/es/palette/124635 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-fondo: #374a5c;
    --color-texto: white;
  }
}

/* Usa los colores definidos */
body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
}
